.education {
    font-family: 'Raleway', serif;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1em;
}

.download-pdf{
    font-family: 'Raleway', serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: None;
    color: white;
    background-color: black;
    margin: 1em 0 0 0;
    width: 7em;
}

.download-pdf:hover {
    color: white;
    background-color: red;
}


#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    grid-template-areas: 
    "gallery-h3 gallery-h3"
    "img1 img2"
    "img3 img4";
}

#index-gallery .gallery-img{
    width: 100%; 
    height: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    filter: grayscale(0%);
    cursor: auto;
}

#index-gallery .gallery-img:hover{
    filter: grayscale(0%);
}

/* Images */
#index-gallery h3 {
    grid-area: gallery-h3;
}

#index-gallery a {
    grid-area: gallery-a;
}

#index-gallery .img1{
    grid-area: img1;
    background-image: url('../img/education/uoe.jpg');
}

#index-gallery .img1:hover{
    grid-area: img1;
    transition: all ease-in 100ms;
    background-image: url('../img/education/scotland.jpg');
    filter: grayscale(100%);
}

#index-gallery .img2{
    grid-area: img2;
    background-image: url('../img/education/koc.jpg');
}

#index-gallery .img2:hover{
    grid-area: img2;
    transition: all ease-in 100ms;
    background-image: url('../img/education/turkey.jpg');
    filter: grayscale(100%);

}

#index-gallery .img3{
    grid-area: img3;
    background-image: url('../img/education/sussex.jpeg');
}

#index-gallery .img3:hover{
    grid-area: img3;
    transition: all ease-in 100ms;
    background-image: url('../img/education/uk.jpg');
    filter: grayscale(100%);

}

#index-gallery .img4{
    grid-area: img4;
    background-image: url('../img/education/rice.jpg');
}

#index-gallery .img4:hover{
    grid-area: img4;
    transition: all ease-in 100ms;
    background-image: url('../img/education/usa.jpg');
    filter: grayscale(100%);
}

/* Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
    font-family: 'Raleway', serif;
    font-size: 0.75rem;
    margin: 1em 0 0 0.5em;
    color:white;
    text-decoration: None;
    text-align: left;
    letter-spacing: 0.2rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    cursor: auto;
}

.gallery-img div:hover {
    opacity: 90%;
    transition: all ease-in-out 100ms;
}

/* W O R K */
#index-gallery-work h3 {
    grid-area: gallery-h3;
}

#index-gallery-work a {
    grid-area: gallery-a;
}

#index-gallery-work .img5{
    grid-area: img5;
    background-image: url('../img/education/isbankasi.jpeg');
}

#index-gallery-work .img5:hover{
    grid-area: img5;
    transition: all ease-in 100ms;
    background-image: url('../img/education/isbankasi.jpeg');
    filter: grayscale(100%);
}

#index-gallery-work .img6{
    grid-area: img6;
    background-image: url('../img/education/miletos.png');
}

#index-gallery-work .img6:hover{
    grid-area: img6;
    transition: all ease-in 100ms;
    background-image: url('../img/education/miletos.png');
    filter: grayscale(100%);
}

#index-gallery-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    grid-template-areas: 
    "gallery-h3 gallery-h3"
    "img5 img6"
    "gallery-a gallery-a"
}

/* Gallery image titles */
.gallery-img-work div {
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img-work a {
    font-family: 'Raleway', serif;
    font-size: 0.75rem;
    margin: 1em 0 0 0.5em;
    color:white;
    text-decoration: None;
    text-align: left;
    letter-spacing: 0.2rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery-img-work div:hover {
    opacity: 90%;
    transition: all ease-in-out 100ms;
}

#index-gallery-work .gallery-img-work{
    width: 100%; 
    height: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    filter: grayscale(0%);
}

#index-gallery-work .gallery-img-work:hover{
    filter: grayscale(0%);
}

/* Images */
#index-gallery-work p {
    grid-area: gallery-p;
}
#index-gallery-work h3 {
    grid-area: gallery-h3;
}

.social-icons {
    text-align: center;
    margin-top: 0.8vh;
}

.social-icons .social-icon {
    background-color: #2867B2;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.3rem;
}

@media (max-width: 700px) {

    .gallery-img div, .gallery-img-work div {
        width: 100%;
        height: 100%;
        background-color:black;
        opacity: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-img a, .gallery-img-work a {
        font-family: 'Raleway', serif;
        font-size: 0.7rem;
        padding: 5em 0.1em 5em 0.1em;    
        margin: 1em 0 0 0.5em;
        color:white;
        text-decoration: None;
        text-align: left;
        letter-spacing: 0.1rem;
        font-weight: 500;
        width: 100%;
        height: 100%;
    }

    .education {
        padding: 0em;
    }

    #index-gallery {
        grid-template-areas: 
        "gallery-h3 gallery-h3"
        "img1 img1"
        "img2 img2"
        "img3 img4";
    }

    #index-gallery-work {
        grid-template-areas: 
        "gallery-h3 gallery-h3"
        "img5 img5"
        "img6 img6"
        "gallery-a gallery-a"
    }
}
